$primaryColor: rgb(13, 124, 199);
$darkColor: rgb(26, 26, 26);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  background-color: $darkColor;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  width: 50%;
  min-height: 90vh;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 3px;
  padding: 1em 2em;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 0.5em;
  }
}

#author {
  color: $darkColor;
  font-size: 2rem;
  line-height: 1;
}

#job {
  color:$primaryColor;
  font-size: 0.85rem;
  margin-bottom: 1em;
}
#quote {
  font-size: 1rem;
  line-height: 1.2;
  font-style: italic;
  color: $darkColor;
}

.buttons-container {
  button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: $primaryColor;
    padding: 0.5em;
    font-size: 0.85rem;
    color: white;
    margin: 1em 0.25em;
  }
}

.random-btn {
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background-color: $darkColor;
  font-size: 0.85rem;
  padding: 0.75em 1em;
  border-radius: 3px;
}
